*{
  box-sizing: border-box;
}
html, 
body {
  height: 100%;
  padding: 0;
  margin: 0px;
  background: #f6f6f6;
  font-family: 'Lora', serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
  font-family: 'Candal' serif;
  color: rgb(92, 30, 247);
  margin: 5px;
}

a{
  text-decoration: none;
  color: inherit;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.btn{
  padding: .5rem 1rem;
  background: rgb(50, 125, 120);
  color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1.08em;
  font-family: 'Lora' , serif;
}
.btn-big{
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}
.btn:hover{
  color: white !important;
  background:  rgb(30, 66, 63);
}



body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-item .imgcar{
  width: 100%;
}


#bg-box {
  background-image: url("../img/lights.jpg");
  background-attachment: fixed;
  min-height: 200px;
  position: relative;
}
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6)
}



#contact{
  background: #efefef;
  padding: 40px;
  padding-bottom: 40px;
  color: #777;
}
.container .heading{
  display: flex;
  justify-content: space-around;
}
.contact-form{
  padding: 15px;
}

.form-control{
  border-radius: 0 !important;
  border: none !important;
}
::placeholder{
  color: #999 !important;
}
.follow{
  background: #fff;
  padding: 10px;
  margin: 15px;
}
.contact-info .fab{
  margin: 8px;
  color: #007bff;
  font-weight: bold;
}
.contact-info .fas{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
.contact-info .far{
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
/*Content*/

.content{
  width: 100%;
  margin: 30px auto 30px;
}
.content .main-content{
  width: 100%;
  float: left;
}
.content .main-content .post-title{
  text-align: center;
}

/*----Single,htmldagi main-content clasli div uchun style-----*/
.content .main-content.single{
  background: white;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
  box-shadow:  1rem 1rem 1rem -1em #624635;
}
.content .main-content.single .post-title{
  text-align: center;
  margin-bottom: 40px;
}
.content .main-content .post{
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
  box-shadow: 1rem 1rem 1rem -1em #624635;
}

/* <!--content--> */
.content .main-content .post .post-preview i{
  color: #757575;
  font-size: .8em;
}
.content .main-content .post .preview-text{
  line-height: 1.5em;
  font-size: 1.03em;
  color: #444;
}
.content .main-content .post .post-image{
  width: 40%;
  height: 100%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content .main-content .post .read-more{
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 2px solid rgb(50, 125, 120);
  background: transparent;
  border-radius: 0px;
  color: rgb(50, 125, 120) !important;
}
.content .main-content .post .read-more:hover{
  background: rgb(50, 125, 120);
  color: white !important;
  transition: .25s;
}
.content .main-content .post .post-preview{
  width: 60%;
  padding: 10px;
  float: right;
}
/* FAQ uchun style */

#faq{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordion-item{
  background-color: white;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 1rem 1rem 1rem -1em #624635;
}
.accordion-link{
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  text-decoration-style: none;
  background-color: #0c0c0c; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link .ion-icon{
 color: #e7d5ff;
 padding: .5rem;
}
.accordion-link .minus{
display: none;
}
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #3d4f7b;
  transition: max-height 650ms;
  
}
.answer::before{
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #443790;
  top: 50%;
  left: 0;
  transform: scaleY(-50%);
}
.answer p{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion-item:target .answer{
  max-height: 20rem;
}
.accordion-item:target:target .accordion-link .plus{
  display: none;
}
.accordion-item:target:target .accordion-link .minus{
  display: block;
}




/*  Media queries  */
@media only screen and (max-width: 700px ){
  .content{
      width: 100%;
  } 
  .content .main-content .post{
      width: 100%;
      padding: 10px;
  }
  .content .main-content{
      width: 100%;
      padding: 10px;
  }

}

@media only screen and (max-width: 960px ){
  .main-content-wapper{
      padding: 10px;
  }
}

@media only screen and (max-width: 600px ){
  .content .main-content .post{
      height: auto;
  }
  .content .main-content.single{
      padding: 10px 20px;
  }
  .content .main-content .post .post-image{
      width: 100%;
  }
  .content .main-content .post .post-preview{
      width: 100%;
  }
  .content .main-content .post .read-more{
      position: static;
      display: block;
      width: 100%;
      text-align: center;
  }
}